<a href="https://colab.research.google.com/github/surya2347/Study_Data-Analysis/blob/main/1%EC%9D%BC%EC%B0%A8_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
number = 10
print(number)
print(type(number))

greeting = '안녕하세요'
print(greeting)
print(type(greeting))

10
<class 'int'>
안녕하세요
<class 'str'>

In [6]:
a = 10
b = 3.3

# 기본산술연산자
print("a + b = ", a+b)
print("a - b = ", a-b)
print("a * b = ", a*b)
print("a / b = ", a/b)   # 나누기
print("a % b = ", a%b)   # 나머지
print("a // b = ", a//b)   # 몫
print("a ** b = ", a**b)   # 거듭제곱

# 실수는 나머지와 몫을 더해도 원래 값이 나오지 않는다. 오차가 있기 때문.

a + b =  13.3
a - b =  6.7
a * b =  33.0
a / b =  3.0303030303030303
a % b =  0.10000000000000053
a // b =  3.0
a ** b =  1995.2623149688789

In [8]:
# 비교연산자
a = 10
b = 20
print("a == b :", a==b)   # 동등연산자
print("a != b :", a!=b)   # 부등연산자

# 크기비교
print("a > b :", a>b)
print("a < b :", a<b)

# 크거나 같음, 작거나 같음
print("a >= b :", a>=b)
print("a <= b :", a<=b)

a == b : False
a != b : True
a > b : False
a < b : True
a >= b : False
a <= b : True

In [9]:
# 사용자 나이 검증 예제
user_age = 25
is_adult = user_age >= 18
print("성인입니까?: ", is_adult)

성인입니까?:  True

In [18]:
# 논리 연산자
a = True
b = False

#and 연산자
print(" a and b:", a and b)

#or 연산자
print(" a or b:",a or b)

#not 연산자
print(" not a:", not a)

 a and b: False
 a or b: True
 not a: False

In [21]:
# 함수 예제
def adder(num1, num2):
  return num1 + num2

def minus(num1, num2):
  return num1 - num2

def multiple(num1, num2):
  return num1 * num2

def divide(num1, num2):
  return num1 / num2

print(adder(5,3))
print(minus(5,3))
print(multiple(5,3))
print(divide(5,3))

8
2
15
1.6666666666666667

In [28]:
# 사용자로부터 입력 받기 : input()

age = input("몇살이세요?")
print(age)
print(type(age))
age = eval(age)   # 문자열형을 정수형으로 변경
print(type(age))
age = age + 1
print(age)

몇살이세요?12
12
<class 'str'>
<class 'int'>
13

In [31]:
# 반복문: for in
for i in [0,1,2]:
  print(i)
  print("안녕~")

0
안녕~
1
안녕~
2
안녕~

In [38]:
sum = 0
for i in range(10):
  sum += i+1

print(sum)

sum = 0
for i in range(1,11):
  sum += i

print(sum)

for i in range(3):
  print(i)
  print("Happy")

55
55
0
Happy
1
Happy
2
Happy

In [40]:
# 복합대입연산자

num = 10
num += 2   # num = num + 2
print(num)
num -= 2   # num = num - 2
print(num)
num *= 2   # num = num * 2
print(num)
num /= 2   # num = num / 2
print(num)

12
10
20
10.0

In [42]:
# 리스트형
[1,2,3]  # 대괄호 안에 데이터들을 입력
print([1,2,3] + [4,5])   # 리스트끼리 합쳐짐
print([1,2,3] * 2)       # 리스트 반복




# 데이터프레임 형 = 리스트를 합쳐둔 2차원형태

[1, 2, 3, 4, 5]
[1, 2, 3, 1, 2, 3]

In [44]:
# 리스트형 데이터 연산 : 인덱스 연산
st = [1,2,3,4,5]
n1 = st[0]
n2 = st[4]
print(n1,n2)

# 인덱싱 연산 - 수정/치환 [ 이건 튜플에서는 안됨 ]
st[0] = 5
st[4] = 1
print(st)

1 5
[5, 2, 3, 4, 1]

In [49]:
# 리스트형 데이터 연산 : 슬라이싱 연산
st1 = [1,2,3,4,5,6,7,8,9]
st2 = st1[2:5]  # 인덱스 2번 부터 5번을 만나면 5번을 넣지않고 stop
st3 = st1[0:9:3]  # 인덱스 0번부터 9번을 만나기 전까지 +3 단위로 슬라이싱
print(st2)
print(st3)

[3, 4, 5]
[1, 4, 7]

In [61]:
# 리스트와 함수들
st = [2,5,3,7,4]
num1 = len(st)
print(num1)
num2 = min(st)
print(num2)
num3 = max(st)
print(num3)

st.remove(3)  # 3의 값을 삭제
print(st)
st.append(8)
print(st)
st.pop(3)     # 인덱스가 3인 값을 삭제
print(st)
st.extend([10])  # [2, 5, 7, 8] + [10] 과 같은 연산
print(st)
st.insert(2,3)   # 인덱스 2 번에다가 값 3을 추가, 기존값은 뒤로 밀림
print(st)
st.clear()
print(st)

st2 = [1,2,3,1,2]
print(st2.count(1))  # 1이라는 값이 몇 개인지 count!
print(st2.index(1))  # 처음 "1" 의 값이 등장하는 위치의 인덱스

5
2
7
[2, 5, 7, 4]
[2, 5, 7, 4, 8]
[2, 5, 7, 8]
[2, 5, 7, 8, 10]
[2, 5, 3, 7, 8, 10]
[]
2
0

In [77]:
# 문자열과 함수
st = "HongKillDong"
print(st.count("o"))
print(st.lower())
print(st.upper())

st2 = "       Middle       "
print(st2.lstrip())  # left쪽 공백을 모두 제거
print(st2.rstrip())  # right쪽 공백을 모두 제거
print(st2.strip())   # 양쪽 공백을 모두 제거

print(st.replace("H","Ch"))


st3 = "ab cd ef"
print(st3.split())   # 매개변수로 아무것도 주지 않을 시, 공백을 기준으로 split

st4 = "What is important is that you should choose what is best for you"
print(st4.find("is"))     # 앞에서부터 첫번째 "is"가 있는 위치의 인덱스 값
print(st4.rfind("is"))    # 뒤에서부터 첫번째 "is"가 있는 위치의 인덱스 값
print(st4.find("Happy"))  # 없는 값이면 -1 반환

2
hongkilldong
HONGKILLDONG
Middle
       Middle
Middle
ChongKillDong
['ab', 'cd', 'ef']
5
49
-1